{{- /*
OnlyOffice Document Server Service Template
*/ -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "onlyoffice-documentserver.fullname" . }}
  labels:
    {{- include "onlyoffice-documentserver.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 3600
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "onlyoffice-documentserver.selectorLabels" . | nindent 4 }}
